<header></header>
<div
    class="main-container"
    *ngIf="((products$ | async)?.length || 0) > 0; else loading"
>
    <div class="sort-container">
        <sort
            *ngFor="let sort of sorts; let i = index"
            [sort]="sort"
            (updateProducts)="onSortClick($event)"
            [ngClass]="{ selected: i === selectedIndex }"
        ></sort>
    </div>

    <div class="product-container">
        <product
            *ngFor="let product of products$ | async"
            [product]="product"
        ></product>
    </div>
</div>
<footer></footer>

<ng-template #loading>
    <div class="spinner-container">
        <div class="spinner"></div>
    </div>
</ng-template>
