<header></header>
<div class="main-container">

    <div class="sort-container"
         *ngIf="((products$ | async)?.length || 0) > 0">
        <sort
            *ngFor="let sort of sorts; let i = index"
            [sort]="sort"
            (updateProducts)="onSortClick($event)"
            [ngClass]="{ selected: i === selectedIndex }"
        ></sort>  
    </div>

    <div class="product-container">
        <product
        *ngFor="let product of products$ | async"
        [product]="product"
        ></product>
    </div>



</div>
<footer></footer>
