:host {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 1.5rem;
    margin-right: 0.7rem;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 0.2rem;
    background-color: black;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &.selected {
        border: none;
        background-color: white;
        color: black
    }

    &:hover {
        transform: scale(1.02);
    }
}
